@using Kendo.Mvc.UI
@using Microsoft.AspNet.Identity
@model StudentInternshipManagement.Models.Entities.Internship

@{
    ViewBag.Title = "Đăng ký nguyện vọng thực tập";
    ViewBag.Category = "Nguyện vọng thực tập";
    ViewBag.Section = "Đăng ký";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
    var date = DateTime.Now;
}

@section Kendo
{
    @Styles.Render("~/Content/kendo/styles")
    @Scripts.Render("~/Scripts/kendo/scripts")
}

<h2>Thông báo tới @User.Identity.GetUserName()</h2>

